@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
   vertical-align: middle;
}

ul, ol {
    list-style: none;
}

h1 {
    color: blue;
}