@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.my-container {
  width: 100%;
  max-width: calc(100% - 160px);
  padding-left: var(--bs-gutter-x, 0.75rem);
  padding-right: var(--bs-gutter-x, 0.75rem);
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 720px) {
  .my-container {
    max-width: 100%;
  }
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

ul,
ol {
  list-style: none;
}

/* this is navbar css */

.nav-ul {
  display: flex;
  gap: 40px;
  transition: background-color 0.3s ease;
  color: #1e1e1e;
  font-weight: 500;
  font-size: 18px;
}

.nav-ul .nav-link:hover {
  color: #fb7902 !important;
}

.nav-btn {
  width: 160px;
  height: 54px;
  border-radius: 0px;
}

.nav-border {
  border-bottom: 2px solid #cecccc50;
}

.nav-main {
  padding-bottom: 20px !important;
}

/* this is hero section css */
.my-hero {
  padding-top: 40px;
  text-align: center;
  margin: auto;
}

.hero-title {
  font-weight: 700;
  padding-bottom: 20px;
  font-size: 56px;
  line-height: 125%;
}
.hero-span {
  color: #fb7902;
}

.booking-btn {
  margin-bottom: 40px;
}

.hero-img {
  height: 100%;
  object-fit: cover;
}
